@keyframes loader {
  0%, 100% {
    transform: scale(1.1);
    text-shadow: 1px 1px 17px;
  }
  50% {
    transform: scale(1);
    text-shadow: 2px 12px 3px;
  }
}

.pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  z-index: 9999999999999;
  h1 {
    position: absolute;
    color: $black;
    animation: loader 3s infinite ease-in-out;

    @include breakpoint(large down){
      top: 50%;
      margin-top: -4rem;
      margin-left: -0.5rem;
    }
  }
}
