*:active,
*:focus {
  outline: none;
}

body {
  height: 100%;
}

.accordion {
  margin: auto;
}

.accordion-title {
  padding: 0;
  color: $black;
  transition: all 400ms ease-in-out;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: darken($black, 30%);
  }

  a {
    transition: all 300ms ease-in-out;
  }
}

.row {
  @include breakpoint(xlarge down) {
    width: 90vw;
  }

  &::after,
  &::before {
    content: none;
  }
}

.title-bar {
  display: flex;
  justify-content: space-between;

  &::after,
  &::before {
    content: none;
  }
}

.container {
  // position: relative;
  // top: 80px;
  height: auto;
}

.is-relative {
  position: relative;
  top: 80px;
  @include breakpoint(small down) {
    top: 64px;
  }
}
