
// font vars

$open: 'Open Sans', sans-serif;
$minion: "minion-pro", serif;

// colors

$white: #F2F2F2;
$black: #5E5E5E;
$grey: #D9D9D9;
$lineGrey: lighten(#979797, 30%);
$h2Grey: #5E5E5E;
$btnBorder: #DFDFDF;